<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Python Flask App</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
   
</head>

  <body>
    <link href="../static/styles.css" rel="stylesheet" >
    <div class="container">
      <div class="header">
        <nav id='Menu'>
        <ul>
          <li><a href="#"> Home</a></li>        
          <li><a href=""> Login</a></li>        
          <li><a href="sobre.html"> Sobre </a></li>
          <li><a href="#"> Contato </a></li>
          <li><a href="#"> Projetos </a></li>
        </ul>
        </nav>
        <h3> PORTIFÓLIO DE GUILHERME DIAS </h3>
      </div>

      <div class="jumbotron">
        <h1>Acompanhe Meu Portfólio de Projetos</h1>
      <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Faça Seu Cadastro</a></p>
      </div>

      <div class="container">
        <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">
            </ul>
          </nav>
          <h3>PROJETOS</h3>
        </div>
  
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Fundos Imobiliarios</h4>
          <p>Modelagem de Dados para fundos Imobiliarios, utilizando a estratégia S-RANK.</p>

          <h4>Análise de Dados Financeiros - Kaggle</h4>
          <p>Modelo para análise de dados financeiros disponibilizados pelo Kaggle.</p>

          <h4>Pipeline Seguro de Carros</h4>
          <p>Criar Pipeline que consiga dizer quanto vai custar um seguro de automovel para uma pessoa.</p>
        </div>

        <div class="col-lg-6">          
          <h4>Cartola FC</h4>
          <p>Modelo para indicação de escalação no Fantasy Game Cartola</p>

          <h4>Dados Do Campeonato Brasileiro</h4>
          <p>Criar Aplicativo Web que mostre todos os dados do Campeonato Brasileiro.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy;Guilherme Dias</p>
        <icon>
          
        </icon>
      </footer>

    </div>
  </body>
</html>